.button {
  display: flex;
  width: 328px;
  height: 62px;
  min-width: 128px;
  padding: 14px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: var(--text-primary, #1c1c1c);
  text-align: center;
  /* label/large */
  font-size: var(--font-size-md, 16px);
  font-style: normal;
  font-weight: var(--font-weight-SemiBold, 600);
  line-height: 140%; /* 22.4px */
  border: 2px solid #49567b;
}

.block {
  width: 100%;
}

.button:hover {
  background: rgba(250, 250, 250, 0.01);
  box-shadow: 0px 0px 60px 0px rgba(122, 33, 237, 0.08) inset,
    4px 8px 80px 0px rgba(122, 33, 237, 0.16);
}

.button:active {
  background: rgba(250, 250, 250, 0.01);
  box-shadow: 0px 0px 60px 0px rgba(122, 33, 237, 0.24) inset,
    -8px -8px 50px 0px rgba(42, 94, 142, 0.2),
    4px 8px 80px 0px rgba(122, 33, 237, 0.24);
}

.solid {
  color: var(--text-inverse, #fafafa);
  background: radial-gradient(
      189.21% 70.1% at 15.34% 39.06%,
      rgba(131, 113, 243, 0.5) 0%,
      rgba(69, 156, 236, 0) 100%
    ),
    radial-gradient(
      132.71% 129.73% at 63.64% -12.5%,
      #8528fb 0%,
      rgba(86, 84, 74, 0.12) 100%
    ),
    radial-gradient(
      51.42% 94.92% at 19.32% 40.62%,
      #1864b7 0%,
      rgba(23, 61, 102, 0.88) 100%
    ),
    radial-gradient(
      23.21% 114.66% at 43.75% -31.25%,
      rgba(24, 17, 24, 0.53) 21.25%,
      #000 100%
    ),
    #030303;
  box-shadow: 0px -3px 0px 0px rgba(86, 29, 157, 0.3) inset,
    0px 0px 30px 0px rgba(255, 255, 255, 0.3) inset,
    0px 8px 30px 0px rgba(64, 100, 228, 0.3),
    -8px -8px 50px 0px rgba(42, 94, 142, 0.2),
    4px 8px 80px 0px rgba(122, 33, 237, 0.24);
}

.solid:hover {
  background: radial-gradient(
      189.21% 70.1% at 15.34% 39.06%,
      rgba(131, 113, 243, 0.8) 0%,
      rgba(69, 156, 236, 0) 100%
    ),
    radial-gradient(
      132.71% 129.73% at 63.64% -12.5%,
      #8400ff 0%,
      rgba(86, 84, 74, 0.12) 100%
    ),
    radial-gradient(
      51.42% 94.92% at 19.32% 40.62%,
      #1864b7 0%,
      rgba(23, 61, 102, 0.88) 100%
    ),
    radial-gradient(
      23.21% 114.66% at 43.75% -31.25%,
      rgba(24, 17, 24, 0.53) 21.25%,
      #000 100%
    ),
    #030303;
  box-shadow: 0px -3px 0px 0px rgba(43, 26, 65, 0.45) inset,
    0px 0px 30px 0px rgba(255, 255, 255, 0.45) inset,
    -8px -8px 50px 0px rgba(42, 94, 142, 0.2),
    4px 8px 80px 0px rgba(122, 33, 237, 0.24);
}

.solid:active {
  background: linear-gradient(
      0deg,
      rgba(242, 118, 146, 0.4) 0%,
      rgba(242, 118, 146, 0.4) 100%
    ),
    radial-gradient(
      189.21% 70.1% at 15.34% 39.06%,
      rgba(131, 113, 243, 0.8) 0%,
      rgba(69, 156, 236, 0) 100%
    ),
    radial-gradient(
      132.71% 129.73% at 63.64% -12.5%,
      #8400ff 0%,
      rgba(86, 84, 74, 0.12) 100%
    ),
    radial-gradient(
      51.42% 94.92% at 19.32% 40.62%,
      #1864b7 0%,
      rgba(23, 61, 102, 0.88) 100%
    ),
    radial-gradient(
      23.21% 114.66% at 43.75% -31.25%,
      rgba(24, 17, 24, 0.53) 21.25%,
      #000 100%
    ),
    #030303;
  background-blend-mode: overlay, normal, normal, normal, normal, normal;
  box-shadow: 0px 2px 0px 0px rgba(80, 44, 126, 0.45) inset,
    0px 0px 30px 0px rgba(255, 255, 255, 0.6) inset,
    4px 8px 80px 0px rgba(122, 33, 237, 0.24);
}
