.sectionStyle {
  background: var(--surface-bg-case-overview, #fff);
  max-width: calc(100vw - 16px);
  overflow-x: hidden;
}

.galleryDescriptionStyle {
  color: var(--text-primary, #1c1c1c);
  font-size: var(--font-size-md, 16px);
  font-weight: var(--font-weight-Regular, 400);
  line-height: var(--font-size-xl, 24px); /* 150% */
  letter-spacing: -0.16px;
  max-width: 100vw;
}

.swiperWrapperStyle {
  min-width: 600px;
}

.gallerySlideStyle {
  max-width: fit-content;
  height: 400px;
  margin-right: 20px;
}

.imageStyle {
  height: 400px;
  width: max-content;
}

.swiperWrapperStyle {
  min-width: 600px;
}

@media (min-width: 650px) {
  .sectionStyle {
    max-width: 100vw;
  }
}
