.sectionStyle {
  background-image: url("/images/testimonials-bg.webp");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 15%;
}
.footerTextStyle {
  display: inline;
  color: var(--text-inverse, #fafafa);
  text-align: center;
  font-size: var(--font-size-xs, 12px);
  font-weight: var(--font-weight-SemiBold, 600);
  line-height: 140%; /* 16.8px */
}
.footerLinkStyle {
  color: #cfbbfc;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  text-align: center;

  /* label/small */
  font-family: Inter;
  font-size: var(--font-size-xs, 12px);
  font-style: normal;
  font-weight: var(--font-weight-SemiBold, 600);
  line-height: 140%; /* 16.8px */
}

.iconStyle {
  display: inline-flex;
  margin-left: 4px; /* Adjust spacing as needed */
}

.footerLinkStyle:hover {
  color: #e7ddff;
}
