.MobileDrawer {
  background: var(--surface-bg, #fafafa);
}
.MobileDrawerMenuItem {
  color: var(--text-primary, #1c1c1c);
  text-align: center;
  font-size: var(--font-size-sm, 14px);
  font-weight: var(--font-weight-SemiBold, 600);
  line-height: 140%; /* 19.6px */
}
