.cardStyle {
  cursor: pointer;
}

@media (min-width: 768px) {
  .cardStyle:hover {
    background: var(--surface-bg-card, #fff);
    box-shadow: 0px 4px 250px rgba(27, 22, 255, 0.1);
  }
}

.titleStyle {
  color: var(--text-primary, #1c1c1c);
  /* heading/h2 */
  font-family: var(--font-family-primary, Inter);
  font-size: var(--font-size-2xl, 32px);
  font-weight: var(--font-weight-Bold, 700);
  line-height: var(--font-line-height-xl, 36px); /* 112.5% */
  letter-spacing: -0.32px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.descriptionStyle {
  color: var(--text-secondary, #5f6367);
  /* body/small light */
  font-family: var(--font-family-primary, Inter);
  font-size: var(--font-size-sm, 14px);
  font-weight: var(--font-weight-Regular, 400);
  line-height: var(--font-size-lg, 18px); /* 128.571% */
  letter-spacing: -0.14px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.readMoreStyle {
  color: var(--text-primary, #1c1c1c);
  text-align: center;
  /* label/medium */
  font-family: var(--font-family-primary, Inter);
  font-size: var(--font-size-sm, 14px);
  font-weight: var(--font-weight-SemiBold, 600);
  line-height: 140%; /* 19.6px */
}
