.cardStyle {
  background: var(--surface-bg-card, #fff);
  box-shadow: 0px 30px 25px 0px var(--card-shadow, rgba(33, 33, 33, 0.24));
  min-height: 382px;
}
.headerTextStyle {
  width: 100%;
  color: var(--text-primary, #1c1c1c);
  font-size: var(--font-size-2xl, 32px);
  font-weight: var(--font-weight-Bold, 700);
  line-height: var(--font-line-height-xl, 36px); /* 112.5% */
  letter-spacing: -0.32px;
  margin-bottom: 4px;
}
.descriptionTextStyle {
  color: var(--text-primary, #1c1c1c);
  font-size: var(--font-size-lg, 18px);
  font-weight: 600;
  line-height: var(--font-size-xl, 24px); /* 133.333% */
  letter-spacing: -0.18px;
  margin-bottom: 8px;
}

.submitButton {
  margin-top: 10px;
}

.inputsStyle {
  position: relative;
}

.inputsStyle input,
.inputsStyle textarea {
  display: flex;
  padding: 0px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  background: var(--surface-bg-module, #f2f5f7);
  color: var(--text-secondary, #5f6367);
  font-size: var(--font-size-sm, 14px);
  font-weight: var(--font-weight-Regular, 400);
  line-height: var(--font-size-lg, 18px); /* 128.571% */
  letter-spacing: -0.14px;
  width: 100%;
  outline: none;
  margin-top: 10px;
  box-sizing: border-box;
  border: 1px solid var(--surface-bg-module, #f2f5f7);
}

.inputsStyle input:hover,
.inputsStyle textarea:hover {
  border-radius: 8px;
  border: 1px solid var(--border-basic, #dee4e9);
  background: var(--surface-bg-module, #f2f5f7);
  color: var(--text-primary, #1c1c1c);
}
.inputsStyle input:hover + label,
.inputsStyle textarea:hover + label {
  color: var(--text-primary, #1c1c1c);
}

.inputsStyle input {
  padding-right: 56px;
}

.inputsStyle textarea {
  resize: none;
  padding-top: 16px;
}

.inputsStyle input::placeholder,
.inputsStyle textarea::placeholder {
  opacity: 0;
}

.inputsStyle input:focus,
.inputsStyle textarea:focus {
  border: 2px solid var(--colour-basic-purple, #a584f3);
  background: var(--surface-bg, #fafafa);
  color: var(--text-primary, #1c1c1c);
}

/* Autofill styles */
.inputsStyle input:-webkit-autofill,
.inputsStyle input:-webkit-autofill:hover,
.inputsStyle input:-webkit-autofill:focus,
.inputsStyle textarea:-webkit-autofill,
.inputsStyle textarea:-webkit-autofill:hover,
.inputsStyle textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--surface-bg-module, #f2f5f7) inset;
  box-shadow: 0 0 0px 1000px var(--surface-bg-module, #f2f5f7) inset;
  -webkit-text-fill-color: var(--text-secondary, #5f6367);
}

.inputsStyle label {
  position: absolute;
  opacity: 0.8;
  top: 24px;
  left: 16px;
  line-height: 18px;
  border-radius: 25px;
  transform: translateY(-50%);
  background: var(--surface-bg-module, #f2f5f7);
  padding: 0 4px;
  color: var(--text-secondary, #5f6367);
  font-size: var(--font-size-sm, 14px);
  font-weight: var(--font-weight-Regular, 400);
  pointer-events: none;
  transition: all 0.2s ease;
}

.inputsStyle input:focus + label,
.inputsStyle input:not(:placeholder-shown) + label,
.inputsStyle textarea:focus + label,
.inputsStyle textarea:not(:placeholder-shown) + label {
  top: 1px;
  left: 12px;
  opacity: 1;
  transform: translateY(-50%);
  font-size: var(--font-size-xs, 12px);
  color: var(--colour-basic-purple, #a584f3);
  background: var(--surface-bg, #fafafa);
}

.inputsStyle.error input,
.inputsStyle.error textarea {
  background: var(--surface-bg, #fafafa);
  border: 2px solid var(--feedback-error, #ea3a3d);
  color: var(--text-primary, #1c1c1c);
}

.inputsStyle.error label {
  color: var(--feedback-error, #ea3a3d);
  background: var(--surface-bg, #fafafa);
}

.inputsStyle.error input:focus + label,
.inputsStyle.error input:hover + label,
.inputsStyle.error input:not(:placeholder-shown) + label,
.inputsStyle.error textarea:focus + label,
.inputsStyle.error textarea:hover + label,
.inputsStyle.error textarea:not(:placeholder-shown) + label {
  color: var(--feedback-error, #ea3a3d);
  background: var(--surface-bg, #fafafa);
}

.valid.inputsStyle input:not(:focus),
.valid.inputsStyle textarea:not(:focus) {
  border-radius: 8px;
  border: 1px solid var(--border-basic, #dee4e9);
  background: var(--surface-bg, #fafafa);
  color: var(--text-primary, #1c1c1c);
}

.valid.inputsStyle input:not(:focus):hover,
.valid.inputsStyle textarea:not(:focus):hover {
  border: 1px solid var(--text-tertiary, #a7adb1);
  background: var(--surface-bg, #fafafa);
}

.valid.inputsStyle input:not(:focus) + label,
.valid.inputsStyle textarea:not(:focus) + label {
  color: var(--text-secondary, #5f6367);
  background: var(--surface-bg, #fafafa);
}

/* Pseudo-element after input when focused */

.contactIconStyle {
  opacity: 0;
  position: absolute;
  color: var(--colour-basic-purple, #a584f3);
  width: 24px;
  height: 24px;
  right: 16px;
  top: 12px;
  transition: all 0.2s ease;
}

.emailInputContainer:focus-within:not(.inputsStyle.error) .contactIconStyle {
  opacity: 1;
}

.checkIconStyle {
  opacity: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 16px;
  top: 14px;
  transition: all 0.2s ease;
}

.valid .checkIconStyle {
  opacity: 1;
}

.errorIconStyle {
  color: var(--feedback-error, #ea3a3d);
  opacity: 0;
  position: absolute;
  width: 24px;
  height: 24px;
  right: 16px;
  top: 14px;
  transition: all 0.2s ease;
}

.error .errorIconStyle {
  opacity: 1;
}

.envelopeStyle {
  position: absolute;
  right: 60px;
  top: -48px;
  rotate: -8deg;
}
.envelopeStyleSent {
  top: -58px;
}

@media (max-width: 1024px) {
  .envelopeStyle {
    left: 50%;
    transform: translateX(-50%);
    top: -68px;
  }
  .envelopeStyleSent {
    top: -94px;
  }
}
.formContainerStyle {
  width: 100%;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.messageSendTextStyle {
  color: var(--text-secondary, #5f6367);
  text-align: center;
  font-size: var(--font-size-md, 16px);
  font-weight: var(--font-weight-Regular, 400);
  line-height: var(--font-size-xl, 24px); /* 150% */
  letter-spacing: -0.16px;
}

.messageSendEmailStyle {
  color: var(--accent-primary, #555cf3);
  font-family: var(--font-family-primary, Inter);
  font-size: var(--font-size-md, 16px);
  font-weight: var(--font-weight-Regular, 400);
  line-height: var(--font-size-xl, 24px); /* 150% */
  letter-spacing: -0.16px;
}

.emailErrorTextStyle {
  color: var(--feedback-error, #ea3a3d);
  text-align: center;
  font-size: var(--font-size-md, 16px);
  font-weight: var(--font-weight-Regular, 400);
  line-height: var(--font-size-xl, 24px); /* 150% */
  letter-spacing: -0.16px;
}
